$primaryColor: #92afd7;
$secondaryColor: #fff;
$tertiaryColor: #c5d1eb;
$bulletColor: #f2d5f8;
$progressColor: #4d7ea8;

$primaryBackgroundColor: #242f40;
$secondaryBackgroundColor: $primaryColor;

$font-size: 3rem;
$bullet-size: 1.7rem;
